@media (max-width: 576px) {
    img {
        width: 40%;
    }
    body {
       
        font-weight: 700;
        font-size: 40px;
    }
    .conteiner-1 {
        display: block;
        padding: 40px 40px;
    }
    footer ul {
        display: none;
    }
    .conteiner-img {
        text-align: center;
    }
    button {
        font-size: 40px;
    }
}