@media (max-width: 991.98px) { 
    .conteiner-img img {
        width: 200px;
    }
    .conteiner-1-block-text {
        font-size: 15px;
    }
}
@media (max-width: 767.98px) { 
    .conteiner-img img {
        width: 200px;
    }
    button {
        font-size: 15px; 
    }
    .conteiner-1 {
        flex-direction: column;
    }
    .conteiner-1 p, .conteiner-img {
        text-align: center;
    }
    footer ul {
        display: none;
    }
 }






 @media (max-width: 575.98px) {
    .conteiner-img img {
        width: 100px;
    }
    .conteiner-1-block-text {
        font-size: 15px;
    }
    button {
        font-size: 10px; 
    }
    .name-planets {
        font-size: 18px;
    }
 }
