@media (max-width: 991.98px) { 
    .conteiner-img img {
        width: 200px;
    }
    .conteiner-1-block-text {
        font-size: 15px;
    }
}
@media (max-width: 767.98px) { 
    .conteiner-img img {
        width: 200px;
    }
    button {
        font-size: 15px; 
    }
    .conteiner-1 {
        flex-direction: column;
    }
    .name-planets, .conteiner-img {
        text-align: center;
    }
    .header-ul {
        display: none;
    }
    .menu {
        display: block;
    }
 }
 @media (max-width: 575.98px) {
    .conteiner-img img {
        width: 140px;
    }
    .conteiner-1-block-text {
        font-size: 15px;
    }
    .name-planets {
        font-size: 18px;
    }
    .conteiner-1-block-text {
        text-align: justify;
    }
    .conteiner-header {
        padding: 20px 20px;
    }
 }