* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color:rgb(21 22 22);
}
.conteiner {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(21 22 22);
    color: aliceblue;
}
a {
    text-decoration: none;
    color: rgb(152 164 165);
}
.conteiner-header, .header-ul {
    display: flex;
}
.conteiner-header {
    justify-content: space-between;
    padding: 40px 20px;
}

ul {
    list-style-type: none;
    
}
header ul {
    gap: 40px;
}
.conteiner-1 {
    border: 3px dotted rgb(87, 80, 80);
    padding: 40px 20px;
    display: flex;
    background-image: url(./img/fon.jpg);
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.conteiner-1-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    
}
.button {
    border: 2px solid rgb(236 236 243);
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 50px;
    font-size: 20px;
    background-color: rgb(152 164 165);
    
}
.conteiner-1-block-btn {
    text-align: center;
}
img {
    width: 320px;

}
.obshee {
    display: flex;
   gap: 20px;
   flex-flow: column wrap;
}
.menu {
    display: none;
    border: none;
}
.b-1 {
    border: 4px solid rgb(21 22 22);
    width: 30px;
    height: 1px;
    padding-bottom: 2px;
    background-color: rgb(152 164 165);
}

/******************************************/
.menu-exit {
    display: none;
}
.conteiner-header.open .menu-exit {
    display: block;
       
        margin-right: 40px;
        padding-bottom: 30px;
        height: 33px;
        border: none;
}
.conteiner-header.open .menu {
    display: none;
}
.conteiner-header.open .header-ul {
    display: block;
    padding-top: 50px;
}
.conteiner-header.open .header-li  {
    
    padding-bottom: 50px;
}
.conteiner-header.open .header-li-1 {
    
}